* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  display: flex;
}

h3 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.blue-button{
  background-color: #0061FF;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border-color: none;
  width: fit-content;
  cursor: pointer;
}

.blue-button:hover {
  box-shadow: 0px 3px 5px 0px rgb(50, 50, 50);
  background-color: #3985ff;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}

.trasp-button {
  color: black;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;
}

.trasp-button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.white-button {
  color: black;
  background-color: white;
  padding: 10px 40px;
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.white-button:hover {
  box-shadow: 0px 3px 5px 0px rgba(36, 36, 36, 0.861);
  border: 0.5px solid gray;
  color: rgb(31, 31, 31);
  transform: scale(1.05);
  transition: 0.2s;
}

.debug {
  background-color: bisque;
}

.d-flex {
  display: flex;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 2;
}

header .top-row {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 45px 15px;
  background-color: white;
}

header .left,.right {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

header .top-row .right {
  justify-content: end;
}

header .right .blue-button {
  padding: 7px 15px;
}

header ul {
  display: flex;
  list-style: none;
  height: 90px;
}

header ul li{
  margin-right: 40px;
  align-items: center;
}

header ul li:hover{
  border-bottom: 1px solid black;
}

header ul a {
  text-decoration: none;
  color: black;
}

header img {
  width: 130px;
  height: 25px;
  margin-right: 50px;
}

/* HERO */

.hero {
  display: flex;
  background-color: #B4D0E7;
  width: 100%;
  height: 710px;
  margin-top: 90px;
  padding-top: 60px;
}

.large-container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.hero .large-container h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
}

.hero .hero-col {
  display: flex;
}

.hero .hero-col .left {
  width: 30%;
}

.hero .hero-col .left .blue-button {
 margin: 30px 0;
}

.hero .hero-col .left p {
  margin-bottom: 50px;
}

.hero .hero-col .left i {
  font-size: 3rem;
}

.hero .hero-col .right {
  width: 70%;
}

.hero .hero-col .right img {
  width: 100%;
}


/* MAIN */

main {
  padding-top: 170px;
  margin: auto;
}

main h2 {
  font-size: 2.5rem;
}

main .option {
  display: flex;
  margin: 50px 0PX;
}

main .option-left {
  margin-right: 50px;
}

main .option i {
  margin-right: 3px;
}

/* COLONNE MIDDLE */

main .container {
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

main .titolo-col {
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

main .titolo-col i {
  margin-right: 5px;
  font-size: .8rem;
}

main .titolo-col span {
  font-size: .9rem;
}

main .col {
  width: 300px;
  border: 0.6px solid lightgrey;
}

main .info-col {
  border-top: 0.6px solid lightgrey;
  padding: 30px;
}

main .info-col h3 {
  margin-bottom: 20px;
}

main .info-col p {
  font-size: .9rem;
  margin-bottom: 10px;
}

main .info-col ul {
  margin: 40px 0px;
}

main .info-col li {
  list-style: none;
  font-size: .9rem;
  margin: 20px 0;
}

main .info-col i {
  margin-right: 10px;
}

main .col .info-col .blue-button {
  font-size: .9rem;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

main .col .info-col:last-child p{
  margin-top: 30px;
  font-size: .9rem;
}

main .col hr {
  margin: 35px 0
}

main h4 {
  font-size: .9rem;
}

main .col .info-col .last-list span{
  color: #0061FF;
}

/* COLONNA IN BASSO LARGA */

main .col-bottom {
  margin: 30px 0px;
  width: 100%;
  border: 0.6px solid lightgrey;
}

main .col-bottom .info-col {
  position: relative;
}

main .col-bottom .info-col .blue-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: .9rem;
  text-align: center;
  padding: 10px 30px;
}

main .col-bottom .info-col p:last-of-type {
  margin-top: 40px;
}

main .col-bottom .info-col .left {
  width: 70%;
}

main .last-list span {
  margin-right: 10px;
}

/* /CONTAINER COLONNE */


main .simple-sec{
  margin-top: 120px;
  margin-bottom: 120px;
}

main .simple-sec .left {
  width: 60%;
}

main .simple-sec .left img {
  width: 100%;
}

main .simple-sec .right {
  display: block;
  width: 40%;
  padding: 70px 50px 0px 50px;
}

main .simple-sec .right p {
  margin: 25px 0;
}

/* SEZIONE OPERAZIONI */

main .operation .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

main .operation .column .card {
  width: 300px;
  height: 500px;
  margin-bottom: 50px;
}

main .operation .column .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 30px 20px -25px #c9c7c7;
  transition: 0.2s;
}

main .operation .column .card img {
  width: 100%;
}


main .operation .column .card h3 {
  margin: 10px 0px 20px 0px;
}

main .operation .column-bottom {
  margin-top: 80px;
}

main .operation .column-bottom h2 {
  max-width: 70%;
  margin-bottom: 60px;
}

/* SEZIONE QUADRATI */

main .sq-column {
  display: flex;
  margin-top: 150px;
  width: 100%;
  aspect-ratio: 3/1;
}

main .sq-column .square-left,
main .sq-column .square-mid,
main .sq-column .square-right {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
}

main .sq-column .square-left .sq {
  display: flex;
  width: 50%;
  justify-content: center;
}

main .sq-column .square-left .sq,
main .sq-column .square-right .sq {
  aspect-ratio: 1/1;
}

main .sq-column .square-left .sq img,
main .sq-column .square-right .sq img {
  width: 50%;
  filter: invert(1);
}

main .sq-column .square-left .sq.lightgreen {
  background-color: #A2D39B;
}

main .sq-column .square-left .sq.darkred {
  background-color: #61082B;
}

main .sq-column .square-left .sq.lightblue {
  background-color: #0093CE;
  align-items: center;
}

main .sq-column .square-left .sq.red {
  background-color: #FF1B1B;
}

main .sq-column .square-left .sq.lightblue img {
  height: 10%;
  width: 55%;
}

main .sq-column .square-mid {
  display: block;
  overflow: auto;
  padding: 60px 50px 50px 50px;
  background-color: #F5F5F5;
}

main .sq-column .square-mid img {
  width: 50%;
}

main .sq-column .square-mid hr {
  margin: 40px 0px;
}

main .sq-column .square-mid p:last-child {
  margin-top: 50px;
}

main .sq-column .square-right .sq {
  display: flex;
  width: 50%;
  justify-content: center;
}

main .sq-column .square-right .sq.midred {
  background-color: #D5001F;
}

main .sq-column .square-right .sq.lilla {
  background-color: #B4D0E7;
}

main .sq-column .square-right .sq.blue {
  background-color: #0D2481;
}

main .sq-column .square-right .sq.yellow {
  background-color: #FFD831;
}

/* main .sq-column .sq:hover, */
main .sq-column .sq:active {
  box-shadow: inset 0px 0px 0px 20px #ffffff42;
}


main .light-blue {
  display: flex;
  height: 350px;
  background-color: #B4D0E7;
  margin-bottom: 150px;
}

main .light-blue .box {
  display: flex;
}

main .light-blue .box .left,
main .light-blue .box .right {
  width: 50%;
}

main .light-blue .box .left h2 {
  color: #61082B
}

main .light-blue .box .right {
  padding-top: 5px;
  justify-content: flex-end;
}


/* DOMANDE FREQUENTI */

main .qna {
  margin-bottom: 150px;
}

main .qna h2 {
  padding-bottom: 60px;
  border-bottom: 1px solid gray;
}

main .qna label {
  font-size: 1.1rem;
  font-weight: 700;
}

main #accordion li{
  display: block;
  list-style: none;
}

main #accordion li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px 0px;
  height: 100px;
}


main .qna label i {
  margin-right: 40px;
  font-size: 15px;
}

main .qna p {
  margin-bottom: 20px;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

#accordion li {
  border-bottom: 1px solid gray;
}


/* main .qna {
  margin-bottom: 150px;
}

main .qna .question {
  justify-content: space-between;
}


main .qna .question .left h4 {
  font-size: 1rem;
}

main .qna .question .right{
  justify-content: flex-end;
  width: 20%;
}

main .qna .question .right i {
  margin-right: 40px;
  font-size: 15px;
}

main .question {
  align-items: center;
  border-bottom: 0.5px solid gray;
  height: 100px;
} */


/* FOOTER */

footer {
  background-color: black;
  padding-top: 110px;
  padding-bottom: 60px;
}

/* footer .column-footer {
  height: 600px;
} */

footer .column-footer .row {
  justify-content: space-between;
  margin-bottom: 100px;
}

footer .column-footer .row ul {
  width: 180px;
}

footer .column-footer .row li {
  list-style: none;
  margin-bottom: 15px;
}

footer .column-footer .row li:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

footer .column-footer .row a {
  text-decoration: none;
  color: white;
}

footer hr {
  margin-bottom: 50px;
}

footer span {
  color: #999999;
  margin: 0px 5px;
}