* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.blue-button {
  background-color: #0061FF;
  color: white;
  padding: 5px 15px;
  font-size: 1rem;
  border-color: none;
  width: fit-content;
}

.debug {
  background-color: bisque;
}

.d-flex {
  display: flex;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}

header .top-row {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 45px 15px;
  background-color: white;
}

header .left,.right {
  display: flex;
  width: 50%;
}

header .right {
 justify-content: end;
 align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li{
  margin-right: 40px;
}

header ul a {
  text-decoration: none;
  color: black;
}

header img {
  width: 130px;
  height: 25px;
  margin-right: 50px;
}

/* HERO */

.hero {
  display: flex;
  background-color: #B4D0E7;
  width: 100%;
  height: 710px;
  margin-top: 90px;
  padding-top: 60px;
}

.large-container {
  margin: auto;
  width: 65%;
  max-width: 1400px;
}

.hero .large-container h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
}

.hero .hero-col {
  display: flex;
}

.hero .hero-col .left {
  width: 30%;
}

.hero .hero-col .left .blue-button {
 margin: 30px 0;
}

.hero .hero-col .left p {
  margin-bottom: 50px;
}

.hero .hero-col .left i {
  font-size: 3rem;
}

.hero .hero-col .right {
  width: 70%;
}

.hero .hero-col .right img {
  width: 100%;
}


/* MAIN */

main {
  padding-top: 170px;
  margin: auto;
  width: 50%;
}

main h2 {
  font-size: 2.5rem;
}

main .option {
  display: flex;
  margin: 50px 0PX;
}

main .option-left {
  margin-right: 50px;
}

main .option i {
  margin-right: 3px;
}

/* COLONNE CENTRALI */

main .container {
  justify-content: space-between;
  margin-top: 50px;
}

main .titolo-col {
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

main .titolo-col i {
  margin-right: 5px;
  font-size: .8rem;
}

main .col {
  height: 700px;
  width: 300px;
  border: 0.6px solid lightgrey;
}

main .info-col {
  border-top: 0.6px solid lightgrey;
  
}