* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  display: flex;
}

h3 {
  font-size: 1.4rem;
}

.blue-button {
  background-color: #0061FF;
  color: white;
  padding: 7px 15px;
  font-size: 1rem;
  border-color: none;
  width: fit-content;
}

.trasp-button {
  color: black;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid black;
  width: fit-content;
}

.white-button {
  color: black;
  background-color: white;
  padding: 10px 40px;
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
}

.debug {
  background-color: bisque;
}

.d-flex {
  display: flex;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}

header .top-row {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 45px 15px;
  background-color: white;
}

header .left,.right {
  display: flex;
  width: 50%;
}

header .right {
 justify-content: end;
 align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li{
  margin-right: 40px;
}

header ul a {
  text-decoration: none;
  color: black;
}

header img {
  width: 130px;
  height: 25px;
  margin-right: 50px;
}

/* HERO */

.hero {
  display: flex;
  background-color: #B4D0E7;
  width: 100%;
  height: 710px;
  margin-top: 90px;
  padding-top: 60px;
}

.large-container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.hero .large-container h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
}

.hero .hero-col {
  display: flex;
}

.hero .hero-col .left {
  width: 30%;
}

.hero .hero-col .left .blue-button {
 margin: 30px 0;
}

.hero .hero-col .left p {
  margin-bottom: 50px;
}

.hero .hero-col .left i {
  font-size: 3rem;
}

.hero .hero-col .right {
  width: 70%;
}

.hero .hero-col .right img {
  width: 100%;
}


/* MAIN */

main {
  padding-top: 170px;
  margin: auto;
}

main h2 {
  font-size: 2.5rem;
}

main .option {
  display: flex;
  margin: 50px 0PX;
}

main .option-left {
  margin-right: 50px;
}

main .option i {
  margin-right: 3px;
}

/* COLONNE MIDDLE */

main .container {
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

main .titolo-col {
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

main .titolo-col i {
  margin-right: 5px;
  font-size: .8rem;
}

main .titolo-col span {
  font-size: .9rem;
}

main .col {
  width: 300px;
  border: 0.6px solid lightgrey;
}

main .info-col {
  border-top: 0.6px solid lightgrey;
  padding: 30px;
}

main .info-col h3 {
  margin-bottom: 20px;
}

main .info-col p {
  font-size: .9rem;
  margin-bottom: 10px;
}

main .info-col ul {
  margin: 40px 0px;
}

main .info-col li {
  list-style: none;
  font-size: .9rem;
  margin: 20px 0;
}

main .info-col i {
  margin-right: 10px;
}

main .col .info-col .blue-button {
  font-size: .9rem;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

main .col .info-col:last-child p{
  margin-top: 30px;
  font-size: .9rem;
}

main .col hr {
  margin: 35px 0
}

main h4 {
  font-size: .9rem;
}

main .col .info-col .last-list span{
  color: #0061FF;
}

/* COLONNA IN BASSO LARGA */

main .col-bottom {
  margin: 30px 0px;
  width: 100%;
  border: 0.6px solid lightgrey;
}

main .col-bottom .info-col {
  position: relative;
}

main .col-bottom .info-col .blue-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: .9rem;
  text-align: center;
  padding: 10px 30px;
}

main .col-bottom .info-col p:last-of-type {
  margin-top: 40px;
}

main .col-bottom .info-col .left {
  width: 70%;
}

main .last-list span {
  margin-right: 10px;
}

/* /CONTAINER COLONNE */


main .simple-sec{
  margin-top: 120px;
  margin-bottom: 120px;
}

main .simple-sec .left {
  width: 60%;
}

main .simple-sec .left img {
  width: 100%;
}

main .simple-sec .right {
  display: block;
  width: 40%;
  padding: 70px 50px 0px 50px;
}

main .simple-sec .right p {
  margin: 25px 0;
}

/* SEZIONE OPERAZIONI */

main .operation .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

main .operation .column .card {
  width: 300px;
  height: 500px;
  margin-bottom: 50px;
}

main .operation .column .card img {
  width: 100%;
}

main .operation .column .card h3 {
  margin: 10px 0px 20px 0px;
}

main .operation .column-bottom {
  margin-top: 80px;
}

main .operation .column-bottom h2 {
  max-width: 70%;
  margin-bottom: 60px;
}

/* SEZIONE QUADRATI */

main .sq-column {
  display: flex;
  margin-top: 150px;
  width: 100%;
  height: 500px
}

main .sq-column .square-left,
main .sq-column .square-mid,
main .sq-column .square-right {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
}

main .sq-column .square-left .sq {
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

main .sq-column .square-right .sq {
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

main .sq-column .square-mid {
  display: block;
  overflow: auto;
  padding: 60px 50px 50px 50px;
  background-color: #F5F5F5;
}

main .sq-column .square-mid img {
  width: 50%;
}

main .sq-column .square-mid hr {
  margin: 40px 0px;
}

main .sq-column .square-mid p:last-child {
  margin-top: 50px;
}

main .light-blue {
  display: flex;
  height: 350px;
  background-color: #B4D0E7;
  margin-bottom: 150px;
}

main .light-blue .box {
  display: flex;
}

main .light-blue .box .left,
main .light-blue .box .right {
  width: 50%;
}

main .light-blue .box .left h2 {
  color: #61082B
}

main .light-blue .box .right {
  padding-top: 5px;
  justify-content: flex-end;
}


/* DOMANDE FREQUENTI */

main .qna .question {
  justify-content: space-between;
}

main .qna h2 {
  margin-bottom: 60px;
}

main .qna .question .left h4 {
  font-size: 1rem;
}

main .qna .question .right{
  justify-content: flex-end;
  width: 20%;
}

main .qna .question .right i {
  margin-right: 40px;
  font-size: 15px;
}

main .question {
  align-items: center;
  border-bottom: 0.5px solid black;
  height: 100px;
}